---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "forgejo.fullname" . }}
  labels:
    {{- include "forgejo.labels" . | nindent 4 }}
stringData:
  app.ini: |
    {{- range $k, $v := .Values.rootConfig }}
      {{ $k | snakecase | upper }} = {{ $v }}
    {{- end }}
    {{- range $k, $v := .Values.config }}
      {{ "[" }}{{ $k }}]
      {{- range $ik, $iv := $v }}
      {{ $ik | snakecase | upper }} = {{ $iv }}
      {{- end }}
    {{- end }}
